# Data Science Tools and Ecosystem

## Author
Hongwei Zha

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List popular development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Zeppelin |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
a = 200/60
print(f"200 minutes are {a} hours")

200 minutes are 3.3333333333333335 hours